<extend name="Base/common"/>

<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">
			<!-- 图文列表 -->
			<volist name="list" id="data">
				<div class="listTitle">
					<h3 class="ellipsis"><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
				</div>
				<div class="listContent">
					<!-- 文章图文简介  -->
					<if condition="$data['cover_id'] gt 0">
						<empty name="data['description']">
							<img src="{:get_cover($data['cover_id'],'path')}" alt="" />
						<else />
							<p><img src="{:get_cover($data['cover_id'],'path')}" alt="" /></p>
							<p class="lead">{$data.description}</p>
						</empty>

					<else />
						<p class="lead">{$data.description}</p>
					</if>

				</div>
				<div class="listMeta">
					<span><a href="{:U('Article/detail?id='.$data['id'])}">查看全文</a></span>
					<span class="pull-right">
						<span>{$data.create_time|timeTip}前</span>
						<span>阅读({$data.view})</span>&nbsp;&nbsp;
				</div>
				<hr/>
	        </volist>

            <div class="onethink pagination pagination-right pagination-large">
                <article:page cate="$category['id']" listrow="$category['list_row']" />
            </div>
        </section>
      </div>
    </div>
</block>
