<extend name="Base/common"/>

<block name="header"></block>

<block name="body">
{:hook('homeSlide')}
<hr />
<ul class="link_box">
    <li><a href="#"><img src="{$Think.THEME_PATH}images/favorite.png" alt=""></a><br />
    	<span>户型精选</span>
    </li>
    
    <li><a href="{:U('Home/Article/lists?category=activity_news')}"><img src="{$Think.THEME_PATH}images/tag.png" alt=""></a><br />
    	<span>优惠活动</span></li>
    <li><a href=""><img src="{$Think.THEME_PATH}images/pencil.png" alt=""></a><br />
    	<span>旗下楼盘</span></li>
</ul>
<hr />
<volist name="category" id="vo" >
	<if condition="($vo['name'] eq 'contact') OR ($vo['name'] eq 'about')" >
	
	<else />
	
	<dl class="link_list">
	    <dt><img src="{:get_cover($vo['icon'],'path')}" alt=""></dt>
	    <dd>
	    	<if condition="$vo['allow_publish'] eq 0">
	    		<a href="{:U('Home/Article/index?category='.$vo['name'])}"><h3>{$vo.title}</h3></a>
	    	<else />
	    		<a href="{:U('Home/Article/lists?category='.$vo['name'])}"><h3>{$vo.title}</h3></a>
	    	</if>

	        <p>{$vo.description}</p>
	    </dd>
	</dl>
	
	</if>

</volist>

</block>

<block name="script">
<script src="{$Think.THEME_PATH}js/jquery-1.js"></script>

<script src="__STATIC__/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__STATIC__/flatui/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/flatui/js/bootstrap.min.js"></script>
<script src="__STATIC__/flatui/js/bootstrap-select.js"></script>
<script src="__STATIC__/flatui/js/bootstrap-switch.js"></script>
<script src="__STATIC__/flatui/js/flatui-checkbox.js"></script>
<script src="__STATIC__/flatui/js/flatui-radio.js"></script>
<script src="__STATIC__/flatui/js/jquery.tagsinput.js"></script>
<script src="__STATIC__/flatui/js/jquery.placeholder.js"></script>

<script src="__JS__/unslider.min.js"></script>

<script>
			if(window.chrome) {
				$('.banner li').css('background-size', '100% 100%');
			}

			$('.banner').unslider({
				arrows: true,
				fluid: true,
				dots: true
			});

			//  Find any element starting with a # in the URL
			//  And listen to any click events it fires
			$('a[href^="#"]').click(function() {
				//  Find the target element
				var target = $($(this).attr('href'));

				//  And get its position
				var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};

				//  jQuery will return false if there's no element
				//  and your code will throw errors if it tries to do .offset().left;
				if(pos) {
					//  Scroll the page
					$('html, body').animate({
						scrollTop: pos.top,
						scrollLeft: pos.left
					}, 1000);
				}

				//  Don't let them visit the url, we'll scroll you there
				return false;
			});

			
		</script>
</block>
