<extend name="Public/base"/>
<block name="body">
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">
    <div class="fl">
	      <a class="btn" href="{:U("create",array("segnent"=>$segment))}">新增</a>
	      <a class="btn" href="{:U('add')}">新 增</a>
	      <button class="btn ajax-post" target-form="ids" url="{:U("setStatus",array("status"=>1))}">启 用</button>
	      <button class="btn ajax-post" target-form="ids" url="{:U("setStatus",array("status"=>0))}">禁 用</button>
	      <button class="btn ajax-post confirm" target-form="ids" url="{:U("setStatus",array("status"=>-1))}">删 除</button>
	    </div>
	</div>
	<!-- /表格列表 -->

  <!-- 数据表格 -->
    <div class="data-table">
    <table class="">
    <thead>
        <tr>
    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
    <th class="">编号</th>
    <th class="">标题</th>
    <th class="">产品</th>
    <th class="">套餐</th>
    <th class="">标签</th>
    <th class="">有效期</th>
    <th class="">最后更新</th>
    <th class="">用户</th>
    <th class="">状态</th>
    <th class="">操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="_list" id="vo">
    <tr>
      <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
      <td>{$vo.id} </td>
      <td><a href="{:U('edit?id='.$vo['id'])}"><span>{$vo.title}</span></a></td>
      <td><span>{$vo.products}</span></td>
      <td><span>{$vo.plans}</span></td>
      <td><span>{$vo.tags}</span></td>
      <td><span>{$vo.deadline|time_format}</span></td>
      <td><span>{$vo.update_time|time_format}</span></td>
      <td>{$vo.uid|get_nickname}</td>
      <td>{$vo.status_text}</td>
      <td><a href="{:U('edit?id='.$vo['id'])}">编辑</a>
        <a href="{:U('setStatus?ids='.$vo['id'].'&status='.abs(1-$vo['status']))}" class="ajax-get">{$vo.status|show_status_op}</a>
        <a href="{:U('setStatus?status=-1&ids='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
    </tr>
    </volist>
  </tbody>
    </table> 

        
  </div>

  <!-- 分页 -->
    <div class="page">
        {$_page}
    </div>

</block>