<extend name="Public/base" />

<block name="body">
  <div class="main-title cf">
    <h2>
      新增文本信息
    </h2>
  </div>
  <!-- 标签页导航 -->
<div class="tab-wrap">

  <div class="tab-content">
  <!-- 表单 -->
  <form id="form" action="{:U('create')}" method="post" class="form-horizontal">
    <div class="form-item cf">
        <div class="controls">
	        <label class="textarea input-large">
	        <textarea name="content">{$data[$field['name']]}</textarea>
	        </label>
        </div>
    </div>

    <div class="form-item cf">
      <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
      <a class="btn btn-return" href="{$Think.cookie.__forward__}">返 回</a>
      <input type="hidden" name="id" value=""/>
    </div>
  </form>
  </div>
</div>
</block>

<!-- 加载底部JS -->
<block name="script">
<include file="Public/footjs" />
<script type="text/javascript">

Think.setValue("type", {$data.type|default='""'});
Think.setValue("display", {$data.display|default=0});

$('#submit').click(function(){
  $('#form').submit();
});

</script>
</block>
