<extend name="Base/common"/>

<block name="header">
	<div class="logo">
			<div class="row">
				<div class="col-xs-12">
					{:hook('homeLogo')}
					<h1 class="hidden">兄弟海鲜大排档</h1>
				</div>
		    </div>	
	</div>
		{:hook('homeSlide')}
</block>

<block name="body">

<div class="container">
	<div class="row">
		<div class="box">
				<div style="background-image:url('{$Think.THEME_PATH}images/boxbackground01.jpg')" class="img">
				<img draggable="false" src="{$Think.THEME_PATH}images/blank_5_2.png">
				</div>	
				<div class="btn_box show">
				
						<a href="{:U('Home/article/detail?id=15')}" class="btn"><span>平价批发</span></a>
				
						<a href="{:U('Home/article/detail?id=15')}" class="btn"><span>海鲜加工</span></a>
				
						<a href="{:U('Home/article/detail?id=13')}" class="btn"><span>关于我们</span></a>
				
						<a href="{:U('Home/article/detail?id=15')}" class="btn"><span>就餐环境</span></a>
	
				</div>
		   </div>
	</div>
</div>

<div class="container">
		<address class="row">
			<p class="col-xs-12 bg-primary"><span class="glyphicon glyphicon-earphone"></span>  联系电话：2133219</p>
			<p class="col-xs-12 bg-info"><span class="glyphicon glyphicon-map-marker"></span>  地址：中山北路复兴里</p>
		</address>
</div>	

</block>
