<extend name="Base/common"/>

<block name="body">
        <!-- Contents
        ================================================== -->
        <section id="contents">
			<!-- 图文列表 -->
			<div class="container-fluid">
			<eq name="category['pid']" value="80" >
				<volist name="list" id="data">
				<if condition="$i%2 neq 0" >
						<div class="row">
				</if>
				<div class="col-xs-6 listContent">
							<div class="thumbnail">
								<if condition="$data['index_pic'] gt 0">
								<a href="{:U('Article/detail?id='.$data['id'])}"><img src="{:get_cover($data['index_pic'],'path')}" alt="" /></a>
	 							<else />
	 							
	 				    		</if>
								<hr />
								 <div class="caption">
									<h3 class="listTitle">{$data.title}
										<if condition="($data['features'] neq 0) OR ($data['features'] neq '')">
											 | {$data.features}
										</if>
									</h3>
										<if condition="get_product_column($data['id'],'special_price') eq 0">
											<if condition="get_product_column($data['id'],'price') gt 0" >
												<p>售价:{:get_product_column($data['id'],'price')} 元</p>
												<else />
												<p>{$data.description}</p>
											</if>
										<else />
											<p>原价:<del>{:get_product_column($data['id'],'price')} 元</del></p>
											<p>特价:{:get_product_column($data['id'],'special_price')} 元</p>
										</if>
								</div>
							</div>
				</div>
				
				<if condition="$i%2 eq 0" >
				</div> {/*当前条目为偶数位时结束row*/}
				</if>

	        </volist>

			<if condition="$i%2 neq 0" >
			</div> {/*最后一条条目为奇数位时结束row*/}
			</if>
			
			<else />
			
			  <volist name="list" id="data">
				<div class="listTitle">
					<h3 class="ellipsis"><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
				</div>
				<div class="listContent">
					<!-- 文章图文简介  -->
					<if condition="$data['cover_id'] gt 0">
						<empty name="data['description']">
							<a href="{:U('Article/detail?id='.$data['id'])}"><img src="{:get_cover($data['cover_id'],'path')}" alt="" /></a>
						<else />
							<p><a href="{:U('Article/detail?id='.$data['id'])}"><img src="{:get_cover($data['cover_id'],'path')}" alt="" /></a></p>
							<p class="lead">{$data.description}</p>
						</empty>
					<else />
						<p class="lead">{$data.description}</p>
					</if>
				</div>
				<div class="listMeta">
					<?php if ($i%2==0): ?>
						qing
					<?php endif ?>
					<span><a href="{:U('Article/detail?id='.$data['id'])}">查看全文</a></span>
					<span class="pull-right">
						<span>{$data.create_time|timeTip}前</span>
						<span>阅读({$data.view})</span>&nbsp;&nbsp;
				</div>
				<hr/>
	        </volist>
	       </eq>
	</div>
			
            <div class="pagination">
                <article:page cate="$category['id']" listrow="$category['list_row']" />
            </div>
        </section>
      </div>
</block>
