<extend name="Base/common"/>

<block name="body">
        <!-- Contents
        ================================================== -->
        <section id="contents">
			<!-- 图文列表 -->
			<div class="container-fluid">
				<volist name="list" id="data">
				<if condition="$i%2 neq 0" >
						<div class="row">
				</if>
				<div class="col-xs-6 listContent">
							<div class="thumbnail">
								<if condition="$data['index_pic'] gt 0">
								<a href="{:U('Article/detail?id='.$data['id'])}"><img src="{:get_cover($data['index_pic'],'path')}" alt="" /></a>
	 							<else />
	 							
	 				    		</if>
								<hr />
								 <div class="caption">
									<h3 class="listTitle">{$data.title}
										<if condition="($data['features'] neq 0) OR ($data['features'] neq '')">
											 | {$data.features}
										</if>
									</h3>
									<empty name="data['special_price']">
										<p>售价:{$data.price}</p>
									<else />
										<p>原价:<del>{$data.price}</del></p>
										<p>特价:<del>{$data.special_price}</del></p>
									</empty>
								</div>
							</div>
				</div>
				
				<if condition="$i%2 eq 0" >
				</div> {/*当前条目为偶数位时结束row*/}
				</if>

	        </volist>

			<if condition="$i%2 neq 0" >
			</div> {/*最后一条条目为奇数位时结束row*/}
			</if>
			
	</div>
			
            <div class="pagination">
                <article:page cate="$category['id']" listrow="$category['list_row']" />
            </div>
        </section>
      </div>
</block>
