<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">

        </div>
    </header>
</block>

<block name="body">
	<div class="container">
		<div class="row featrues">
			<div class="more_data_link hidden-xs"><span>查看更多</span></div>
			<ul>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	        </ul>
	        <div class="visible-xs"><span class="btn btn-primary btn-block">查看更多</span></div>
		</div>
	</div>
	<div class="container">
		<div class="row ad-holder">
			<div class="hidden-xs col-sm-8">
				<div class="row footer_guide">
					<ul class="list-inline">
					  <li class="col-sm-2">
					      <strong>关于：</strong>
						  <ul>
						  	<li>关于智承</li>
						  </ul>
					  </li>
					  <li class="col-sm-2">
					      <strong>栏目：</strong>
						  <ul>
						  	<li>新闻动态</li>
						  	<li>资料下载</li>
						  	<li>视频教程</li>
						  	<li>名师课堂</li>
						  </ul>
				      </li>
					  <li class="col-sm-2">
					      <strong>商务：</strong>
						  <ul>
						  	<li>视频列表</li>
						  	<li>购买方式</li>
						  	<li>淘宝网店</li>
						  	<li>诚征合作</li>
						  </ul>
				      </li>
					  <li class="col-sm-2">
					      <strong>联系：</strong>
						  <ul>
						  	<li>在线提问</li>
						  	<li>联系我们</li>
						  </ul>
				      </li>
					  <li class="col-sm-2">
					      <strong>帮助：</strong>
						  <ul>
						  	<li>智承规则</li>
						  	<li>常见问题</li>
						  </ul>
				      </li>
					  <li class="col-sm-2">
					      <strong>友链：</strong>
						  <ul>
						  	<li>智承论坛</li>
						  	<li>Tealun Du</li>
						  </ul>
				      </li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
			<p><strong>版权信息</strong></p>
			<p>智承大课堂（binbinke）所发布的所有视频教程版权归原作者所有。如未经授权用作他处，作者将保留追究侵权者法律责任的权利。备案/许可证编号：冀ICP11000251号</p>
			</div>
		</div>
	</div>
</block>
