<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">

        </div>
    </header>
</block>

<block name="body">
	<div class="container">
		<div class="row featrues">
			<div class="more_data_link hidden-xs"><span>查看更多</span></div>
			<ul>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	            <li class="col-xs-6 col-sm-3">
	            	<div class="panel panel-default">
					  <div class="panel-heading">Panel heading without title</div>
					  <div class="panel-body">
					    Panel content
					  </div>
					</div>
	            </li>
	        </ul>
	        <div class="visible-xs"><span class="btn btn-primary">查看更多</span></div>
		</div>
	</div>
	<div class="container">
		<div class="row ad-holder">
			<div class="col-xs-12 col-sm-6">This is image area</div>
			<div class="col-xs-12 col-sm-6">This is qrcode area</div>
		</div>
	</div>
</block>
