<!-- 导航条
================================================== -->

<div class="container">
    <div class="row">
	
		<div class="col-xs-12 col-sm-6 col-md-4">
        <span>欢迎光临{:C('WEB_SITE_TITLE')}!</span>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-8" style="padding-left:10px;">
			
			<ul class="nav pull-right" style="margin-right:0">
				<if condition="is_login()">
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left:0;padding-right:0">{:get_username()} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{:U('User/profile')}">修改密码</a></li>
                                <li><a href="{:U('User/logout')}">退出</a></li>
                            </ul>
                        </li>

                <else/>
                        <li>
                            <a href="{:U('User/login')}">登录</a>
                        </li>
                        <li>
                            <a href="{:U('User/register')}" style="padding-left:0;padding-right:0">注册</a>
                        </li>
                    
                </if>
                </ul>

		</div>
    </div>
    
    <nav id="navbar" class="row">
	   <div class="nav-collapse collapse">
            <ul class="nav">
                <think:nav name="nav">
                	<eq name="nav.pid" value="0">
                    <li>
                        <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                    </li>
                    </eq>
                </think:nav>
            </ul>
        </div>
    </nav>
    
</div>