<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="data-table">
		<form action="{:U('saveArticle')}" class="form-horizontal config-form">
			<fieldset>
				<div class="controls">
					<div class="upload-img-box">
						<notempty name="AfterArticle">
							<div class="alert alert-info alert-block">
								<button type="button" class="close" data-dismiss="alert">
									&times;
								</button>
								<h4>恭喜，您已经设置了文尾展示</h4>
								您的站点文尾展示为如下，如果您希望更换，请选择需要更换的样式并点击【确定】即可。如果您希望清除设置，请点击清除按钮。
							</div>
							<div class="upload-pre-item" style="width: 50%;margin: 15px 0;">
								{:hook('documentDetailAfter')}
							</div>
							<else />
							<div class="alert alert-block">
								<button type="button" class="close" data-dismiss="alert">
									&times;
								</button>
								<h4>注意！您还没有设置文尾展示</h4>
								您的站点还没有设置文尾展示，如果您希望使用此功能，您可以在下方选择展示样式，并点击确定即可。
							</div>
						</notempty>
					</div>

					<legend>
						选择样式：
					</legend>

					<div class="row-fluid">
					            <ul class="thumbnails">
					              <li class="span4">
					                <div class="thumbnail">
									  <img src="__PUBLIC__/Admin/images/default/after01.gif" alt="" >
					                  <div class="caption">
					                    <h3>站点信息指引</h3>
					                    <p>展示信息：</p>
					                    <p>【关于我们】可在系统设置中的站点描述中更新；</p>
					                    <p>【微信关注指引】可在微信号设置中更改微信号；</p>
					                    <p>【联系电话和地址】可在站点设置中进行更新</p>
					                  </div>
					                  	<eq name="AfterArticle" value="1">
					                  		<a class="button button-pill button-caution" href="javascript:" data="1">
					                  		<i class="icon-ok-sign icon-white"></i> 已选
					                  	<else />
					                  	<a class="button button-pill" href="javascript:" data="1">
					                  	<i class="icon-ok-circle"></i> 选择
					                  	</eq>
					                  	</a>
					                </div>
					              </li>
					              <li class="span4">
					                <div class="thumbnail">
										<img src="__PUBLIC__/Admin/images/default/after02.gif" alt="" >
						                  <div class="caption">
						                    <h3>相关文章推荐</h3>
						                    <p>选中本样式后，会根据文章所在目录随机推荐4条相关新闻。</p>
						                  </div>
						                  	<eq name="AfterArticle" value="2">
						                  		<a class="button button-pill button-caution" href="javascript:" data="2">
						                  		<i class="icon-ok-sign icon-white"></i> 已选
						                  	<else />
						                  	<a class="button button-pill" href="javascript:" data="2">
						                  	<i class="icon-ok-circle"></i> 选择
						                  	</eq>
						                  	</a>	
					                </div>
					              </li>
					              <li class="span4">
					                <div class="thumbnail">
					                  <img src="__PUBLIC__/Admin/images/default/after03.gif" alt="" >
					                  <div class="caption">
					                    <h3>文末广告位</h3>
					                    <p>在文章末尾开辟一个广告位，广告内容请在广告位控制中的文末广告设置中设置。</p>
					                  </div>
					                  <eq name="AfterArticle" value="3">
					                  		<a class="button button-pill button-caution" href="javascript:" data="3">
					                  		<i class="icon-ok-sign icon-white"></i> 已选
					                  	<else />
					                  		<a class="button button-pill" href="javascript:" data="3">
					                  		<i class="icon-ok-circle"></i> 选择
					                  	</eq>
									  </a>
					                </div>
					              </li>
					            </ul>
					          </div>
					<input type="hidden" name="part" value="AfterArticle"/>
					<input type="hidden" name="AfterArticle" value="{$AfterArticle|default=''}"/>
				</div>
			</fieldset>
			<button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden">
				<i class="icon-ok"></i> 确 定
			</button>
			<a class="btn btn-return" href=""><i  class="icon-chevron-left"></i> 返 回</a>
			<notempty name="AfterArticle">
				<a href="{:U('clear?part=AfterArticle')}" class="btn submit-btn confirm ajax-get"><i class="icon-warning-sign"></i> 清除</a>
			</notempty>
		</form>
	</div>

</block>

<block name="script">
	<script type="text/javascript">
		$(".button.button-pill").hover(function(){
			$(this).toggleClass("button-action");
		});
		
		$(".button.button-pill").click(function(){
			$(".button.button-pill.button-caution").removeClass("button-caution").html('<i class="icon-ok-circle"></i> 选择');
			$(this).addClass("button-caution").html('<i class="icon-ok-sign icon-white"></i> 已选');
			var id = $(this).attr("data");
			$("input[name='AfterArticle']").val(id);
		});
	</script>

</block>
