<extend name="Public/base"/>

<block name="body">
	 <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title"> <h2>{$meta_title}</h2> </div> 
	<div class="data-table">
		<form action="{:U('saveFeature')}" class="form-horizontal config-form">
			<fieldset>
				<notempty name="featureItems">
					<div id="feature-items">
						 	
						 		<form action="{:U('saveFeature')}" method="post" accept-charset="utf-8">
								       <ol class="row">
								       	<li class="offset1 span10">
								       			<div class="input-prepend span6">
												  <span class="add-on">选择类型</span>
												  <select name="item[0]['type']" class="span1">
									                <option value="cat">分类</option>
									                <option value="article">文章</option>
									              </select>
									              <span class="add-on">填写编号</span>
												    <input class="span1" name="item[0]['id']" type="text">
											    </div>
											    <div calss="featrues-item-preview span6">
											    	请在左侧填写条目信息
											    </div>
								       	</li>
								       </ol>
								       <div class="row">
								       	<p id="addItem" class="btn btn-default offset1" style="margin-top: 15px;">增加一条</p>
								       </div>
								       
								 </form>

					</div>
					
				<else />
	                    <div class="alert alert-block">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <h4>注意！您还没有设置特色内容导航的图标设置</h4>
						    您的站点还没有设置特色内容导航，在站点的首页里将不会有图标导航的模块，您可以在下面的栏目中进行配置，记得点确定保存哦。
						 </div>
						 <div class="feature-items">
						 	
						 		<form action="{:U('saveFeature')}" method="post" accept-charset="utf-8">
								       <ol id="featrues-li" class="row">

								       </ol>
								       <div class="row">
								       	<p id="addItem" class="btn btn-default offset1" style="margin-top: 15px;">增加一条</p>
								       </div>
								       
								 </form>
						 	
						 </div>
</notempty>
			</fieldset>

			<button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden"><i class="icon-ok"></i> 确 定</button>
    		 <a class="btn btn-return" href=""><i class="icon-chevron-left"></i> 返 回</a>
    		 <notempty name="list">
    		 <a href="{:U('clear?part=Slide')}" class="btn submit-btn confirm ajax-get"><i class="icon-warning-sign"></i>  清除所有幻灯片</a>
			</notempty>
		</form>

	</div>

<!-- 内容快捷查看挂件开始  -->
<include file="Public/contentlist" />
<!-- 内容快捷查看挂件结束 -->

</block>

<block name="script">
	<include file="Public/footjs" />
<if condition="isset($featureItemsCount)">
	<script type="text/javascript">
	var count = parseInt({$count});
	</script>
<else /> 
	<script type="text/javascript">
	var count = parseInt(0); 
	</script>
</if>
	<script type="text/javascript">

		$('#addItem').click(function(){
			var i = count+1;
				if(i > 4){
					alert('特色内容请控制在4个，您可以替换掉原有条目中的内容以展示新的内容。');
				}else{

					var featruesLi = '<li class="offset1 span10"><span class="button button-rounded button-flat-caution slide pull-right"><i class="icon-remove"></i> 删除</span>';
							featruesLi += '<div class="input-prepend span6">';
							featruesLi += '<span class="add-on">选择类型</span>';
							featruesLi +='<select name="item[0][\'type\']" class="span1" id="segment'+count+'" >>';
							featruesLi +='<option value="cat" selected="true">分类</option>';
							featruesLi +='<option value="article">文章</option>';
							featruesLi +='</select>';
							featruesLi +='<span class="add-on">填写编号</span>';
							featruesLi +='<input id="item'+count+'" class="span1" name="item['+count+'][\'id\']" type="text">';
							featruesLi +='</div>';
							featruesLi +='<div class="span8" id="preview'+count+'">';
							featruesLi +='<h4 style="margin-bottom:15px;">预览：</h4>';
							featruesLi +='<div id="item'+count+'preview" style="height:280px;width:504px;background-color: #A0A0A0;font-size:40px;text-align:center;line-height:200px;"><p id="clickPreview'+count+'" ><i class="icon-large icon-refresh"></i> 请输入条目编号</p>';
							featruesLi +='<img class="hidden" style="width:100%;" src="" alt="" >';
							featruesLi += '</div></div></div>';
							featruesLi += '</li>';
							
							featruesLi +='<script type="text/javascript">';
							featruesLi +='$(".button-flat-caution.slide").click(function(){';
							featruesLi +='$(this).parent("li").detach();});';
							featruesLi +='$("#item'+count+'").change(function(){';
							featruesLi +='$("div#featrues-item-preview'+count+'").detach();';
							featruesLi += 'var featruesObj = {};';
							featruesLi +=' featruesObj[0] = $("#segment'+count+'").val();';
							featruesLi +=' featruesObj[1] = $(this).val();';
							featruesLi +='	if(featruesObj[1] == ""){';
							featruesLi +='	alert("条目编号必须填写");';
							featruesLi +='};';
							featruesLi +='$.post(';
							featruesLi +=' "/Admin/HomeControl/slideAjax",';
							featruesLi +='featruesObj,';
							featruesLi +=' function(data){';
							featruesLi +='$("#item'+count+'preview").find("img").removeClass("hidden").attr({"src":data.image,"alt":data.alt})';
							featruesLi +='	},';
							featruesLi +='	"json"';
							featruesLi +=');';

							featruesLi +='});';
							featruesLi +='</'+'script>';
							
			$('#featrues-li').append(featruesLi);
			count = count+1;
				if(count > 4){
				$(this).attr('disabled','');	
				}											
			}
		});
		
		$(".button-flat-caution.slide").click(function(){
		$(this).parent("li").detach();});
		
	</script>
			
</block>
