<extend name="Public/base"/>

<block name="body">
	 <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title"> <h2>{$meta_title}</h2> </div> 
	<div class="data-table">
		<form action="{:U('saveFeature')}" class="form-horizontal config-form">
			<fieldset>

				<empty name="featureItems">
	                    <div class="alert alert-block">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <h4>注意！您还没有设置特色内容导航的图标设置</h4>
						    您的站点还没有设置特色内容导航，在站点的首页里将不会有图标导航的模块，您可以在下面的栏目中进行配置，记得点确定保存哦。
						 </div>
				</empty>
					 		<form action="{:U('saveFeature')}" method="post" accept-charset="utf-8">
					 			
					 			<div class="control-group">
									<label class="control-label" for="inputTitle">特色区标题:</label>
									<div class="controls">
									<input type="text" id="inputTitle" name="title" class="span4" placeholder="为您的特色展示区取一个标题" value="{$featureTitle}">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputMoreLinkUrl">更多链接的指向：</label>
									<div class="controls">
									<input type="text" id="inputMoreLinkUrl" name="moreLinkUrl" class="span4" placeholder="当用户点击更多链接时的指向地址" value="{$featureMoreLinkUrl}">
									</div>
								</div>
					 			<hr />
								<div class="feature-items">
							       <ol id="features-li" class="row">
									<notempty name="featureItems">
										<volist name="featureItems" id="itemli">
											<li id="item{$i-1}" class="offset1 span10">
												<div class="container">
													<div class="row">
														<div class="input-prepend span5">
															<span class="add-on">选择类型</span>
															<select name="items[{$i-1}][type]" class="span1" id="segment{$i-1}">
															<option value="category" selected="true">分类</option>
															<option value="article">文章</option></select>
															<span class="offset1 add-on">填写编号</span>
															<input id="item{$i-1}id" class="span1" name="items[{$i-1}][id]" type="text" value="{$itemli.id}">
														</div>
														<div class="span5" id="preview{$i-1}">
															<div style="height:100px;width:100%;background-color: #A0A0A0;font-size:20px;text-align:center;line-height:100px;" id="item{$i-1}preview">
																<img style="width:100%;" src="{$itemli.image}" alt="{$itemli.alt}">
																<h5>{$itemli.title}</h5>
																<p class="item-description">{$itemli.caption}</p>
															</div>
														</div>
														<span class="button button-rounded button-flat-caution slide pull-right">
															<i class="icon-remove"></i> 删除
														</span>
													</div>
												</div>
											</li>
										</volist>
									</notempty>
							       </ol>
							       <div class="row">
							       	<p id="addItem" class="btn btn-default offset1" style="margin-top: 15px;">增加一条</p>
							       </div>
							    </div>
							 </form>
			</fieldset>

			<button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden"><i class="icon-ok"></i> 确 定</button>
    		 <a class="btn btn-return" href=""><i class="icon-chevron-left"></i> 返 回</a>
    		 <notempty name="list">
    		 <a href="{:U('clear?part=Slide')}" class="btn submit-btn confirm ajax-get"><i class="icon-warning-sign"></i>  清除所有幻灯片</a>
			</notempty>
		</form>

	</div>

<!-- 内容快捷查看挂件开始  -->
<include file="Public/contentlist" />
<!-- 内容快捷查看挂件结束 -->

</block>

<block name="script">
	<include file="Public/footjs" />
<if condition="isset($featureItemsCount)">
	<script type="text/javascript">
	var count = parseInt({$featureItemsCount});
	</script>
<else /> 
	<script type="text/javascript">
	var count = parseInt(0); 
	</script>
</if>
	<script type="text/javascript">

		$('#addItem').click(function(){
			var i = count+1;
				if(i > 4){
					alert('特色内容请控制在4个，您可以替换掉原有条目中的内容以展示新的内容。');
				}else{

					var featuresLi = '<li id="item'+count+'" class="offset1 span10">';
							featuresLi += '  <div class="container">';
							featuresLi += '  <div class="row"><div class="input-prepend span5"><span class="add-on">选择类型</span>';
							featuresLi +='<select name="items[0][type]" class="span1" id="segment'+count+'" >>';
							featuresLi +='<option value="category" selected="true">分类</option>';
							featuresLi +='<option value="article">文章</option>';
							featuresLi +='</select>';
							featuresLi +='<span class="offset1 add-on">填写编号</span>';
							featuresLi +='<input id="item'+count+'id" class="span1" name="items['+count+'][id]" type="text">';
							featuresLi +='</div>';
							featuresLi +='<div class="span5" id="preview'+count+'">';
							featuresLi +='<div style="height:100px;width:100%;background-color: #A0A0A0;font-size:20px;text-align:center;line-height:100px;" id="item'+count+'preview">';
							featuresLi +='<p id="clickPreview'+count+'" ><i class="icon-large icon-refresh"></i> 请输入条目编号</p>';
							featuresLi +='<img class="hidden" style="width:100%;" src="" alt="" >';
							featuresLi += '<h5></h5>';
							featuresLi += '<p class="item-description"></p>';
							featuresLi += '</div></div>';
							featuresLi +='<span class="button button-rounded button-flat-caution slide pull-right"><i class="icon-remove"></i> 删除</span>';
							featuresLi +='</div></div>';
							featuresLi += '</li>';
							
							featuresLi +='<script type="text/javascript">';
							featuresLi +='$(".button-flat-caution.slide").click(function(){';
							featuresLi +='$("#item'+count+'").detach();});';
							featuresLi +='$("#item'+count+'id").change(function(){';
							featuresLi +='$("div#features-item-preview'+count+'").detach();';
							featuresLi += 'var featuresObj = {};';
							featuresLi +=' featuresObj[0] = $("#segment'+count+'").val();';
							featuresLi +=' featuresObj[1] = $(this).val();';
							featuresLi +='	if(featuresObj[1] == ""){';
							featuresLi +='	alert("条目编号必须填写");';
							featuresLi +='};';
							featuresLi +='$.post(';
							featuresLi +=' "/Admin/HomeControl/itemAjax",';
							featuresLi +='featuresObj,';
							featuresLi +=' function(data){';
							featuresLi +='$("#clickPreview'+count+'").detach();';
							featuresLi +='$("#item'+count+'preview").find("img").removeClass("hidden").attr({"src":data.image,"alt":data.alt});';
							featuresLi +='$("#item'+count+'preview").find("h5").empty().append(data.title);';
							featuresLi +='$("#item'+count+'preview").find("p.item-description").empty().append(data.caption);';
							featuresLi +='	},';
							featuresLi +='	"json"';
							featuresLi +=');';

							featuresLi +='});';
							featuresLi +='</'+'script>';
							
			$('#features-li').append(featuresLi);
			count = count+1;
				if(count > 4){
				$(this).attr('disabled','');	
				}											
			}
		});

		$(".button-flat-caution.slide").click(function(){
		$(this).parent("li").detach();});
		
	</script>
			
</block>
