<extend name="Public/base"/>

<block name="body">
	 <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title"> <h2>{$meta_title}</h2> </div> 
	<div class="data-table">
		<form action="{:U('saveFeature')}" class="form-horizontal config-form">
			<fieldset>
				<legend>图标特色导航设置</legend>
				<notempty name="featureIcons">
					<div id="feature_icons">
						This is Feature icons box fill with seted icons
						
					</div>
					
				<else />
	                    <div class="alert alert-block">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <h4>注意！您还没有设置特色内容导航的图标设置</h4>
						    您的站点还没有设置特色内容导航，在站点的首页里将不会有图标导航的模块，您可以在下面的栏目中进行配置，记得点确定保存哦。
						 </div>
						 <div id="feature_icons" >

								<div id="feature_icon_box" class="container-fluid">
									
									<div class="row-fluid">
										<div class="span12">
											<ul class="thumbnails">
												<li class="span4">
													<div class="thumbnail">
											      <img alt="微信配置" style="width: 100%; " src="/Public/Admin/images/default/wechat_setup_banner.jpg">
														<div class="caption">
															<h3 class="hidden">
																<i class="icon-wrench"></i> 微信配置
															</h3>
															<p>
																配置微信公众帐号的相关信息，使用本系统对接微信公众帐号必须正确配置相关信息
															</p>
															<hr>
															<p>
																<a class="btn btn-primary" href="/index.php?s=/Admin/Config/group/id/5.html">配置</a> <a class="btn" href="#">帮助</a>
															</p>
														</div>
													</div>
												</li>
												<li class="span4">
													<div class="thumbnail">
											      <img alt="事件管理" style="width: 100%; " src="/Public/Admin/images/default/wechat_event_banner.jpg">
														<div class="caption">
															<h3 class="hidden">
																<i class="icon-magnet"></i> 事件管理
															</h3>
															<p>
																微信公众帐号的事件管理，包括关注公众帐号时的回复信息，客户扫描二维码时的回复信息等。
															</p>
															<hr>
															<p>
																<a class="btn btn-primary" href="/index.php?s=/Admin/WechatEvent/index.html">进入管理</a> <a class="btn" href="#">帮助</a>
															</p>
														</div>
													</div>
												</li>
												<li class="span4">
													<div class="thumbnail">
											      <img alt="自定义菜单管理" style="width: 100%; " src="/Public/Admin/images/default/wechat_menu_banner.jpg">
														<div class="caption">
															<h3 class="hidden">
																<i class="icon-list"></i> 自定义菜单管理
															</h3>
															<p>
																自定义菜单是微信公众帐号消息页面底部的菜单，服务号默认会有，订阅号需认证后才会有，您可以在此配置自定义菜单的信息交互方式，更多请点击帮助了解
															</p>
															<hr>
															<p>
																<a class="btn btn-primary" href="/index.php?s=/Admin/WechatMenu/viewMenu.html">进入管理</a> <a class="btn" href="#">帮助</a>
															</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
						 </div>
				</notempty>
			</fieldset>
			
			<fieldset>
				<legend>列表特色内容设置</legend>
				<notempty name="featureList">
					<div id="feature_list">
						This is Feature icons box fill with seted icons
						
					</div>
					
				<else />
	                    <div class="alert alert-block">
						    <button type="button" class="close" data-dismiss="alert">&times;</button>
						    <h4>注意！您还没有设置首页特色内容列表</h4>
						    您的站点还没有设置特色内容列表，在站点的首页里将不会有列表展示特色内容模块，您可以在下面的设置栏目中进行配置，记得点确定保存哦。
						 </div>
				</notempty>
			</fieldset>

			<button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden"><i class="icon-ok"></i> 确 定</button>
    		 <a class="btn btn-return" href=""><i class="icon-chevron-left"></i> 返 回</a>
    		 <notempty name="list">
    		 <a href="{:U('clear?part=Slide')}" class="btn submit-btn confirm ajax-get"><i class="icon-warning-sign"></i>  清除所有幻灯片</a>
			</notempty>
		</form>

	</div>

</block>

<block name="script">
<if condition="isset($count)">
	<script type="text/javascript">
	var count = parseInt({$count});
	</script>
<else /> 
	<script type="text/javascript">
	var count = parseInt(0); 
	</script>
</if>
	<script type="text/javascript">

		$('#addItem').click(function(){
			var i = count+1;
				if(i > 6){
					alert('为保证幻加载速度及播放顺畅，幻灯片控制在6张，您可以替换掉原有条目中的内容以展示新幻灯片内容。');
				}else{
					var slideLi = '<li class="slide'+i+'"><span class="button button-rounded button-flat-caution slide pull-right"><i class="icon-remove"></i> 删除</span><div  class="row"><div class="span4"><div class="control-group">';
							slideLi += '<h4 style="margin-bottom:15px;">新增第'+i+'条</h4>';
							slideLi += '<label for="segment'+count+'" >类别：</label>';
							slideLi +='<select name="slide'+count+'[segment]" id="segment'+count+'" >';
							slideLi +='<option value="article" selected="true">文章</option>';
							slideLi +='<option value="activity">活动</option>';
							slideLi +='<option value="product">产品</option>';
							slideLi +='<option value="plan">套餐</option>';
							slideLi +='<option value="topic">专题</option>';
							slideLi +='</select>';
							slideLi +='</div>';
						
							slideLi +='<div class="control-group">';
							slideLi +='<label for="item'+count+'">条目编号：</label>';
							slideLi += '<input type="text" name="slide'+count+'[id]" value="" id="item'+count+'"/>';
							slideLi +='</div>';
						
							slideLi +='</div>';
							slideLi +='<div class="span8" id="preview'+count+'">';
							slideLi +='<h4 style="margin-bottom:15px;">图片预览：</h4>';
							slideLi +='<div id="item'+count+'preview" style="height:280px;width:504px;background-color: #A0A0A0;font-size:40px;text-align:center;line-height:200px;"><p id="clickPreview'+count+'" ><i class="icon-large icon-refresh"></i> 请输入条目编号</p>';
							slideLi +='<img class="hidden" style="width:100%;" src="" alt="" >';
							slideLi += '</div></div></div>';
							slideLi +='<hr /></li>';
							slideLi +='<script type="text/javascript">';
							slideLi +='$(".button-flat-caution.slide").click(function(){';
							slideLi +='$(this).parent("li").detach();});';
							slideLi +='$("#item'+count+'").change(function(){';
							slideLi +='$("p#clickPreview'+count+'").detach();';
							slideLi += 'var slideObj = {};';
							slideLi +=' slideObj[0] = $("#segment'+count+'").val();';
							slideLi +=' slideObj[1] = $(this).val();';
							slideLi +='	if(slideObj[1] == ""){';
							slideLi +='	alert("条目编号必须填写");';
							slideLi +='};';
							slideLi +='$.post(';
							slideLi +=' "/Admin/HomeControl/slideAjax",';
							slideLi +='slideObj,';
							slideLi +=' function(data){';
							slideLi +='$("#item'+count+'preview").find("img").removeClass("hidden").attr({"src":data.image,"alt":data.alt})';
							slideLi +='	},';
							slideLi +='	"json"';
							slideLi +=');';

							slideLi +='});';
							slideLi +='</'+'script>';
							
			$('#slides').append(slideLi);
			count = count+1;
				if(count > 5){
				$(this).attr('disabled','');	
				}											
			}
		});
		
		$(".button-flat-caution.slide").click(function(){
		$(this).parent("li").detach();});
		
	</script>
			
</block>
