<extend name="Public/base"/>

<block name="body">
	 <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title"> <h2>{$meta_title}</h2> </div> 
	<div class="data-table">
		<form action="{:U('saveSlide')}" class="form-horizontal config-form">
			<fieldset>
				<notempty name="list">
						<legend>幻灯片预览</legend>
						
							  <div id="myCarousel" class="carousel slide">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
								  	<for start="0" end="$count">
								  		<li data-target="#myCarousel" data-slide-to="{$i}" <if condition= "$i eq 0"  >class="active"</if>></li>
								  	</for>
								  </ol>
								
								  <!-- Wrapper for slides -->
								  <div class="carousel-inner">
								 <for start="0" end="$count">
								 	<assign name="slide" value="$list[$i]" /> {/* 将循环数组赋值给一个变量 */}
								  	<div <if condition= "$i eq 0"  >class="item active"<else /> class="item"  </if> >
									      <img src="{$slide.image}" alt="{$slide.alt}">
									      <div class="carousel-caption">
									        {$slide.caption}
									      </div>
								    </div>	
								 </for>
						
								  </div>
								
							    <!-- Carousel nav -->
							    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
							    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
								
							</div>
						
						<else />
		                    <div class="alert alert-block">
							    <button type="button" class="close" data-dismiss="alert">&times;</button>
							    <h4>注意！您还没有设置首页幻灯片</h4>
							    您的站点还没有设置幻灯片，在站点的首页里将不会有幻灯片轮播展示的模块，您可以在下面的幻灯片设置栏目中进行配置，记得点确定保存哦。
							    </div>
						</notempty>
			</fieldset>
			
			<fieldset>
					<legend>幻灯片设置</legend>
						<ul id="slides">
							<notempty name="list">
								 <for start="0" end="$count">
								 	<assign name="slide" value="$list[$i]" /> {/* 将循环数组赋值给一个变量 */}
										<li>
											<div  class="rows">
												<div class="span4">
													
													 <div class="control-group">
														<label class="control-label" for="segment{$i}" >类别：</label>
														<select name="slide{$i}['segment']" id="segment{$i}" >
															<option value="custom">自定义</option>
															<option value="news">新闻</option>
															<option value="activity">活动</option>
															<option value="product">产品</option>
															<option value="plan">套餐</option>
															<option value="topic">专题</option>
														</select>
													</div>
													
													<div class="control-group">
														<label for="item{$i}" class="control-label">条目：</label>
													    <input type="text" name="slide{$i}['item']" value="{$slide.item}" id="item{$i}"/>
													</div>
													
													<div class="control-group">
														<label for="caption{$i}" class="control-label">说明：</label>
													    <input type="text" name="slide{$i}['caption']" value="{$slide.caption}" id="caption{$i}"/>
													</div>
													
												</div>
												<div class="span8" id="preview{$i}">
												      <img src="{$slide.image|get_cover='path'}" alt="{$slide.item}">
												      <div class="carousel-caption">
												        {$slide.caption}
												      </div>
												</div>
											</div>
										</li>
								</for>
							</notempty>
							
						</ul>
						
						<span class="btn btn-primary" id="addItem"><i class="icon-plus" ></i> 新增一条</span>


			</fieldset>
			<button target-form="form-horizontal" type="submit" id="submit" class="btn submit-btn ajax-post hidden"><i class="icon-ok"></i> 确 定</button>
    		 <a class="btn btn-return" href=""><i class="icon-chevron-left"></i> 返 回</a>
		</form>
	</div>

</block>

<block name="script">
<if condition="isset($count)">
	<script type="text/javascript">
	var count = parseInt({$count});
	</script>
<else /> 
	<script type="text/javascript">
	var count = parseInt(0); 
	</script>
</if>
	<script type="text/javascript">

		$('#addItem').click(function(){
			var i = count+1;
				if(i > 6){
					alert('为保证幻加载速度及播放顺畅，幻灯片控制在6张，您可以替换掉原有条目中的内容以展示新幻灯片内容。');
				}else{
					var imgTpl = '\'<img src=\"'+count+'\" alt=\"data.title\" />\';';
					var slideLi = '<li class="slide'+i+'"><span class="button button-rounded button-flat-caution slide pull-right"><i class="icon-remove"></i> 删除</span><div  class="row"><div class="span4"><div class="control-group">';
							slideLi += '<h4 style="margin-bottom:15px;">新增第'+i+'条</h4>';
							slideLi += '<label for="segment'+count+'" >类别：</label>';
							slideLi +='<select name="slide'+count+'[\'segment\']" id="segment'+count+'" >';
							slideLi +='<option value="article">文章</option>';
							slideLi +='<option value="activity">活动</option>';
							slideLi +='<option value="product">产品</option>';
							slideLi +='<option value="plan">套餐</option>';
							slideLi +='<option value="topic">专题</option>';
							slideLi +='</select>';
							slideLi +='</div>';
						
							slideLi +='<div class="control-group">';
							slideLi +='<label for="item'+count+'">条目编号：</label>';
							slideLi += '<input type="text" name="slide'+count+'[\'item\']" value="{$slide.item}" id="item'+count+'"/>';
							slideLi +='</div>';
						
							slideLi +='<div class="control-group">';
							slideLi +='<label for="caption'+count+'">说明：</label>';
							slideLi +='<input type="text" name="slide'+count+'[\'caption\']" value="{$slide.caption}" id="caption'+count+'"/>';
							slideLi +='</div>';
						
							slideLi +='</div>';
							slideLi +='<div class="span8" id="preview'+count+'">';
							slideLi +='<h4 style="margin-bottom:15px;">图片预览：</h4>';
							slideLi +='<div id="item'+count+'preview" style="height:300px;width:100%;background-color: #A0A0A0;font-size:60px;text-align:center;line-height:300px;"><i class="icon-large icon-refresh"></i> 点此刷新预览图</div>';
							slideLi += '</div></div>';
							slideLi +='<hr /></li>';
							slideLi +='<script type="text/javascript">';
							slideLi +='$(".button-flat-caution.slide").click(function(){';
							slideLi +='$(this).parent("li").detach();});';
							slideLi +='$("input#item'+count+'").change(function(){';
							slideLi +='var img'+count+'='+imgTpl;
							slideLi +='	$("#item'+count+'preview").append(img'+count+');';
							slideLi +='});';
							slideLi +='</'+'script>';
							
			$('#slides').append(slideLi);
			count = count+1;
				if(count > 5){
				$(this).attr('disabled','');	
				}											
			}
		});
		
	</script>
			
</block>
