/*!
 *  Tchat CSS
 *  This css file designed for Tchat Default Theme
 *  ------------------------------------------------------------------------------
 *  You can copy and change this css file to make your theme complate, this file is
 *  designed to modify bootstrap in order to display the theme comfutable.
 * 
 *  Author - Tealun Du
 *  ------------------------------------------------------------------------------
 *  Email: tealun@tealun.com
 *  Twitter: http://twitter.com/TealunDu
 *  Web: http://www.tealun.com
 */

/* HEADER */

/* navbar */

.nav-tchat{
	border-top:#003366 1px solid;
	border-bottom:#003366 1px solid;
}

.nav-tchat ul {
	list-style: none;
}
.nav-tchat ul li{
	float:left;
	border-right:#003366 1px solid;
}

.nav-tchat ul li:last-child{
	border-right:0;
}

/* page-holder */
.page-holder{
	padding-bottom:2em;
}

.page-holder strong{
	color:#003366;
	font-size:3em;
	font-family:'Microsoft Yahei', '微软雅黑', Helvetica,Arial,sans-serif;
}


/* INDEX PAGE */
.jumbotron{
	margin:5px auto;
}
/* Featrues */
.featrues{
	margin-top:10px;
	border-top:#003366 1px solid;
	border-bottom:#003366 1px solid;
}

.featrues .more_data_link {
  clear: both;
  color: red;
  display: block;
  font-size: 10px;
  margin-top: -1.5em;
  padding: 10px 0;
  text-align: right;
}

.featrues .more_data_link span {
  background: none repeat scroll 0 0 #003366;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
}

.featrues ul,.footer_guide ul{
	list-style:none;
	padding-left:0;
}
.featrues li{
	float:left;
}

.ad-holder{
	margin-top:15px;
	margin-bottom:15px;
	min-height:25px;
	max-height:40px;
}


/* FOOTER */
/* footer */
.footer{
	background:#003366;
	color: #FFFFFF;
}

.copyright,.suport_message{
	margin-top:10px;
	font-size:0.8em;
}
.suport_message{
	text-align: right;
}
@media (max-width:767px){
	.suport_message{
		text-align: left;
	}
}

.footer_guide{
	font-size:12px;
}
