
    <!-- 底部
    ================================================== -->
    <footer class="footer">
  <hr style="margin-bottom: 30px;" />
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
<!-- Navbar content -->
</nav>
    </footer>

<include file="Public/var"/>
<block name="script">
<script src="{$Think.THEME_PATH}/js/jquery-1.js"></script>

<script src="__STATIC__/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__STATIC__/flatui/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/flatui/js/bootstrap.min.js"></script>
<script src="__STATIC__/flatui/js/bootstrap-select.js"></script>
<script src="__STATIC__/flatui/js/bootstrap-switch.js"></script>
<script src="__STATIC__/flatui/js/flatui-checkbox.js"></script>
<script src="__STATIC__/flatui/js/flatui-radio.js"></script>
<script src="__STATIC__/flatui/js/jquery.tagsinput.js"></script>
<script src="__STATIC__/flatui/js/jquery.placeholder.js"></script>
</block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
  <block name="hidden"></block>
</div>
