<extend name="Public/base"/>

<block name="body">
<div class="container-fluid">
	<div class="row">
		<if condition="isset($update)" >
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				<h4>发现新版本！Tchat{$update[0]}已经发布</h4>
				<p>您目前使用的版本为{$localVersion}，最新版为{$update[0]},请更新到最新版本</p>
				<p>强烈建议您在升级前进行数据备份!</p>
			</div>
			<div class="span12">
			  <h1>Tchat{$update[0]}更新介绍</h1>
				<ol style="margin:20px 0;">
			  	    <foreach name="update" item="vo" >
				    	<if condition = "$key gt 0">
				    		<li>{$key}.{$vo}。</li>
				    	</if>
				    </foreach>
			    </ol>
			</div>
			<else />
			<div class="alert alert-info alert-block">
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				<h4>恭喜，您的Tchat已经是最新版本</h4>
				<p>我们建议您定期备份您的站点数据!如果您已上传最新的升级文件，您也可以自行手动升级，请注意备份您的数据再操作。</p>
			</div>
		</if>
	</div>
	<div class="row">
		<span id="rightBackup" class="button button-action">立即备份</span>
		<span id="manualUpdate" class="button button-caution">手动升级</span>
		<if condition="isset($update)">
		<span id="manualUpdate" class="button button-caution">手动升级</span>
		<span id="onlineUpdate" class="button button-caution">在线升级</span>
		</if>
	</div>
</div>

</block>

<block name="script">
<script type="text/javascript" charset="utf-8">
	$("#manualUpdate").click(function(){
		var url='{:U("update")}';
		  $.post(url,
			  {
			    method:"manual"
			  },
			  function(status){
			    alert("Status: " + status);
			  });
	});
</script>
</block>
