	<script type="text/javascript">
	/**
	 * @author Tealun Du
	 */
		$(function(){
			$(":input[type='hidden'][name='pid']").detach(); //移除自带的pid隐藏input

		/*自定义菜单类型选项更改时对应显示和隐藏项目*/
		function menuType(type,value){
			switch (type){
				case 'click':
					$("select[name=action_type]").parentsUntil("div.tab-pane").show();
					$("input[name=action_code]").parentsUntil("div.tab-pane").show();
					$("input[name=url]").parentsUntil("div.tab-pane").hide();
					break;
				case 'button':
					$("select[name=action_type]").parentsUntil("div.tab-pane").hide();
					$("input[name=url]").parentsUntil("div.tab-pane").hide();
					$("input[name=action_code]").parentsUntil("div.tab-pane").hide();
					break;
				case 'view':
					$("input[name=url]").parentsUntil("div.tab-pane").show();
					if(value){ //是否需要填写默认值
						$("input[name=url]").val('http://');
						};
					$("select[name=action_type]").parentsUntil("div.tab-pane").hide();
					$("input[name=action_code]").parentsUntil("div.tab-pane").hide();
					break;
			};
		};
		
		/*触发类型更改时指令项显示信息更改*/
		function actionType(action,value){
			$("#segment_type").hide();
			switch (action){
				case 'keyword':
					$("input[name=action_code]").parents("div.controls").siblings("label").html(
						'指定关键词<span class="check-tips">（关键词请填写已有的关键词组名）</span>'
					);
					if (value){
						$("input[name=action_code]").val("请填写触发的关键词");
					};
					break;
				case 'text':
					$("input[name=action_code]").parents("div.controls").siblings("label").html(
						'指定文本<span class="check-tips">（请选择文本的ID或直接填写文本内容新建一条文本）</span>'
					);
					if (value){
						$("input[name=action_code]").val("请填写文本ID或文本内容");
					};
					break;
				case 'news':
					$("input[name=action_code]").parents("div.controls").siblings("label").html(
						'指定分类<span class="check-tips">（请填写分类的ID）</span>'
					);
					if (value){
						$("input[name=action_code]").val("请填写分类的ID");
					};
					break;
				case 'document':
					$("input[name=action_code]").parents("div.controls").siblings("label").html(
						'指定文章<span class="check-tips">（多个文章请用英文逗号分隔开，如“3,5,15,20”）</span>'
					);
					if (value){
						$("input[name=action_code]").val("请填写文章的ID");
					};
					break;
				case 'segment':
					$("input[name=action_code]").parents("div.controls").siblings("label").html(
						'选择功能<span class="check-tips">（请选择要应用的功能）</span>'
					);
					
					$("#segment_type").show(function(){ //获取当前所选内容，并更新Value赋值格式
						if (value){
							segmentType($(this).val());
						};
					});
					
					break;
			};
		};
		
		/*选择功能模块时更改赋值格式内容*/
		function segmentType(segment){
			switch (segment){
				case 'service':
					$("input[name=action_code]").val("service:");
					break;
				case 'seguest':
					$("input[name=action_code]").val("seguest:");
					break;
				case 'blindAccount':
					$("input[name=action_code]").val("blindAccount:");
					break;
			};
		}
		
		menuType($("select[name=menu_type]").val(),false); //跟据已选菜单类型显示相应选项
		actionType($("select[name=action_type]").val(),false); //根据已选触发类型显示相应选项
		
		$("input[name=action_code]").parents("div.controls").siblings("label").after(
						'<select name="segment_type" id="segment_type"><option value="service">转接客服</option><option value="seguest">获取反馈</option><option value="blindAccount">绑定帐号</option></select>'
						);//新增一项触发功能指令选项，用于更改指令默认格式
						
		$("#segment_type").hide();//默认隐藏触发功能指令选项
		
		$("select[name=menu_type]").change(function(){
			menuType($(this).val(),true);
		});
		
		$("select[name=action_type]").change(function(){
			actionType($(this).val(),true);
		});
		
		$("#segment_type").change(function(){
			segmentType($(this).val());
		});
	});
	</script>
