<extend name="Base/common"/>

<block name="header">

</block>

<block name="body">
        
<div class="pin_container">

	<div class="left-column">

		<div class="big_pin_box">
		
			<div class="pin-header navbar navbar-static-top">
				<div class="navbar-inner">
					<h1>{picname}</h1>
					
				</div>
			</div>

			<div class="section">

                <!-- AddThis Button BEGIN -->
               <div class="addthis_toolbox addthis_floating_style addthis_32x32_style" style="position:absolute;left:-16px;top:40px;"
                     addthis:url="http://www.sex.com/picture/12871361-photo/"
                     addthis:title="Photo -  Pin #12871361"
                     addthis:description="Pin #12871361: repinned by sexingTian onto beautyful. Description: Photo. Tags: asian, babe, big-tits. From: feedproxy.google.com"
                     id="addthis">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                </div>
                <!-- AddThis Button END -->

					<div class="image_frame" style="overflow:hidden;">
						<a target="_blank" rel="nofollow" href="#" data-rel="source" data-hostname="feedproxy.google.com" data-id="12871361">
						<img alt="{$data.title}" title="{$data.title}" src="{$data.pic}" width="500">
					</a>
					</div>
					<div class="pull-left">
						<div class="btn-group">
							<button class="btn btn-danger voteButton" data-id="12866066"><i class="icon-heart"></i>赞</button>
                    	</div>
												
							<a class="btn" href="/pin/edit/12871361"><i class="icon-edit"></i> 编辑</a>
					</div>

					<div class="pull-right">
                        <a data-id="{$id}" href="#" class="reportButton btn"><i class="icon-warning-sign"></i> 举报</a>
					</div>

					<div class="clearfix"></div>
				<div class="banner">
					<a href="{AcitvityUrl}" rel="nofollow" target="_blank" onclick="ga('send', 'event', 'Outgoing Links', 'Banner', '{activityUrl}');">
						<img src="activity/32/banner_620x77_3.jpg" />
					</a>
				</div>
			</div>
		</div>
		
		<div class="big_pin_box">

            <div class="pin-sub-header navbar navbar-static-top">
                <div class="navbar-inner">
                    <h2>照片信息</h2>
                </div>
            </div>
				
			<div class="section">
			<div class="detail">
				<div class="pull-left ">
                    <p>由 <a href="/sexingtian/">{$detail.client}上传于</a> - {$datail.creat_time|timeTip}前</p>
				</div>
	
				<div class="pull-right">
					<a data-id="12871361" href="#" class="embedButton btn"><i class="icon-code"></i> Embed</a>
				</div>
	
				<div class="clearfix"></div>
					
				<div class="tags"> Tags:
					<a href="/all/" class="tag">{tag}</a> 
					<a href="/all/" class="tag">{tag}</a> 
				</div>
			</div>
            </div>
        </div>

        <div class="big_pin_box">

            <div class="pin-sub-header navbar navbar-static-top">
                <div class="navbar-inner">
                    <a id="toggleComments" href="#" >
                        <h2 class="pull-left">评论</h2>
                        <span class="pull-right">Show/hide Comments</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="comments">
                                    <div id="alert-nocomments">There are no comments on this pin yet, be the first one to say something about it.</div>
                
                <form class="comment" action="/comment/post?pinId=12866066" method="post">
                    <div class="picture">
                                                    <img src="http://images2.sex.com/images/pinporn/2014/03/03/60x60/5168389-love-that-face.jpg" width="60" height="60" />
                                            </div>

                    <div class="text">
                                                <textarea placeholder="Write a Comment"></textarea>
                        <div class="button">
                            <input type="submit" class="commentButton btn" value="Comment" />
                        </div>
                                            </div>
                    <div class="clearfix"></div>
                </form>
            </div>

		</div>
	</div>

	<div class="right-column hidden-phone">

		<div class="board_box">
		
			<div class="board_box_header">
				<div class="pull-right">
                                            <a class="btn btn-small" href="/board/edit/451371">编辑</a>
                    				</div>
				
				<div class="title">
					本照片收录在<br/>
					<a href="/sexingtian/beautyful/">[{$detail.album}]</a>
				</div>
			</div>

            <div class="big_thumbnail">
                <a href='/sexingtian/beautyful/'>
                    <img src="__IMG__/tchat_background.jpg" width="126" height="126" />
                </a>
            </div>

			<div class="small_thumbnails">
			                <a href='/sexingtian/beautyful/'>
                    <img src="http://images2.sex.com/images/pinporn/2014/03/14/60x60/5294893.jpg" width="60" height="60" />
                </a>
			                <a href='/sexingtian/beautyful/'>
                    <img src="http://images5.sex.com/images/pinporn/2014/03/14/60x60/5294932-intimate.jpg" width="60" height="60" />
                </a>
			                <a href='/sexingtian/beautyful/'>
                    <img src="http://images1.sex.com/images/pinporn/2013/10/23/60x60/3930744-sunny-leone-in-her-bathroom-and-her-nude-pose.jpg" width="60" height="60" />
                </a>
			                <a href='/sexingtian/beautyful/'>
                    <img src="http://images1.sex.com/images/pinporn/2013/06/17/60x60/2961082-sexy-chinese-in-this-hot-vagina-photo.jpg" width="60" height="60" />
                </a>
						</div>

            <div class="clearfix"></div>
		</div>
        
				<div class="ad-block pull-left">
			<iframe src='' frameborder='0' scrolling='no' width='300' height='250'></iframe>
		</div>
		
				<div class="ad-block pull-left">
			<iframe src='' frameborder='0' scrolling='no' width='300' height='250'></iframe>
		</div>
			</div>

	<div class="clearfix"></div>
	
	<div id="related_pins" class="hidden-phone">
	<div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12820290"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12820290" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12820290-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images1.sex.com/images/pinporn/2014/03/15/236/5308379-photo.jpg" width="236" height="351" alt="Photo" data-src="http://images1.sex.com/images/pinporn/2014/03/15/236/5308379-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 5&nbsp;
			 
						Repins: 1&nbsp;
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asia/" class="tag">asia</a>						<a href="/all/cosplay/" class="tag">cosplay</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12691616"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12691616" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12691616-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images1.sex.com/images/pinporn/2014/03/11/236/5259426-photo.jpg" width="236" height="356" alt="Photo" data-src="http://images1.sex.com/images/pinporn/2014/03/11/236/5259426-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 1&nbsp;
			 
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asia/" class="tag">asia</a>						<a href="/all/cosplay/" class="tag">cosplay</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12402437"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12402437" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12402437-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images4.sex.com/images/pinporn/2014/03/01/236/5150390-photo.jpg" width="236" height="355" alt="Photo" data-src="http://images4.sex.com/images/pinporn/2014/03/01/236/5150390-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 1&nbsp;
			 
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asia/" class="tag">asia</a>						<a href="/all/asian-girl/" class="tag">asian-girl</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japan/" class="tag">japan</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12695110"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12695110" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12695110-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images2.sex.com/images/pinporn/2014/03/11/236/5260865-photo.jpg" width="236" height="362" alt="Photo" data-src="http://images2.sex.com/images/pinporn/2014/03/11/236/5260865-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 2&nbsp;
			 
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asian-girl/" class="tag">asian-girl</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japan/" class="tag">japan</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12846523"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12846523" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12846523-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images3.sex.com/images/pinporn/2014/03/16/236/5317814-photo.jpg" width="236" height="321" alt="Photo" data-src="http://images3.sex.com/images/pinporn/2014/03/16/236/5317814-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 1&nbsp;
			 
						Repins: 2&nbsp;
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japan/" class="tag">japan</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12686665"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12686665" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12686665-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images1.sex.com/images/pinporn/2014/03/10/236/5257657-photo.jpg" width="236" height="355" alt="Photo" data-src="http://images1.sex.com/images/pinporn/2014/03/10/236/5257657-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asian-girl/" class="tag">asian-girl</a>						<a href="/all/cosplay/" class="tag">cosplay</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/japan/" class="tag">japan</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12804080"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12804080" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12804080-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images3.sex.com/images/pinporn/2014/03/14/236/5302594-photo.jpg" width="236" height="355" alt="Photo" data-src="http://images3.sex.com/images/pinporn/2014/03/14/236/5302594-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 1&nbsp;
			 
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>						<a href="/all/asia/" class="tag">asia</a>						<a href="/all/cosplay/" class="tag">cosplay</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div><div class="masonry_box small_pin_box">

	<div class="actions">
					<button class="repinButton btn btn-small btn-danger" data-id="12670142"><i class="icon-pushpin"></i> Repin</button>
			<button class="likeButton btn btn-small" data-id="12670142" data-text-like="Like" data-text-unlike="Unlike"><i class="icon-heart"></i> Like</button>
			</div>

	<a class="image_wrapper" href="/picture/12670142-photo/" rel="ajax" title="Photo"  >
		<img class="image" src="http://images5.sex.com/images/pinporn/2014/03/10/236/5251857-photo.jpg" width="236" height="355" alt="Photo" data-src="http://images5.sex.com/images/pinporn/2014/03/10/236/5251857-photo.jpg" />
                        	</a>
	
	<div class="pin_info">
		<div class="title">Photo</div>
				<div class="stats">
						Likes: 1&nbsp;
			 
			 
					</div>
			
						<div class="tags">
						<a href="/all/art/" class="tag">art</a>	<a href="/all/asia/" class="tag">asia</a>						<a href="/all/asian-girl/" class="tag">asian-girl</a>						<a href="/all/cosplay/" class="tag">cosplay</a>						<a href="/all/cute/" class="tag">cute</a>						<a href="/all/ecchi/" class="tag">ecchi</a>						<a href="/all/japanese-girl/" class="tag">japanese-girl</a>						<a href="/all/kawaii/" class="tag">kawaii</a>					</div>
			</div>

	<div class="user_details">
        <img class="user_image" src="http://images3.sex.com/images/pinporn/2014/02/12/30x30/4976497-photo.jpg" width="30" height="30" />
        <div class="user_cell">
            <p>
            Pinned by <a href="/sushi/">sushi</a>            </p>
            <p>onto <a href="/sushi/sushi/">sushi</a></p>
        </div>
  	</div>
</div>	</div>
	<div class="clearfix"></div>
	<script>
        initRelatedPins();
	</script>
	
	<div class="footer-ads">
	</div>
</div>	</div>

    <div class="clearfix"></div>
</block>
